{% extends 'base.html' %}

{% block main %}
<main>
    <h1>Bienvenue sur Patience</h1>
    <p>Gérer vos patients de manière intuitive</p>
    
    <section>
        <ul>
            <li>Gestion de fiches patient</li>
            <li>Historisation des consultations</li>
            <li>Suivi de l'état de santé dans le temps</li>
        </ul>
    </section>
    
    <section>
        <h2>Créer un compte médecin</h2>
        <form>
            <input type="text">
            <input type="password">
            <input type="submit">
        </form>
    </section>
</main>
{% endblock main %}