{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- encoding -->
        <meta charset="utf-8">

        <!-- device display -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- styles, stylesheets -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% block additional_stylesheet %}
        {% endblock additional_stylesheet %}
    </head>
    <body>
        <!-- header (cf templates/includes/header)-->
        {% block header %}
        {% endblock header %}

        <!-- main container -->
        {% block main %}
        {% endblock main %}

        <!-- footer (cf templates/includes/footer)-->
        {% block footer %}
        {% endblock footer %}

        <!-- scripts -->
        <script src="{% static 'js/htmx.min.js' %}"
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        {% block additional_scripts %}
        {% endblock additional_scripts %}
    </body>
</html>