{% extends "base.html" %}

{% block main %}
<main>
    <h1>{% block error_code %}{% endblock error_code %}</h1>
    <p>{% block error_title %}{% endblock error_title %}</p>
    <a href="{% url 'home' %}">Retourner à la page d'accueil</a>
</main>
{% endblock main %}